<div class="about-2 de-padding">
	<div class="container">
		<div class="about-2-wpr grid-2">
			<div class="about-2-left">
				<div class="about-2-pic wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
					<img src="{{ site.about2.bg_image | relative_url }}" alt="thumb">
				</div>
			</div>
			<div class="about-2-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
				<span class="about-sub-title">{{ site.about2.subtitle }}</span>
				<h2 class="about-title mb-50">{{ site.about2.title }}</h2>
				<p class="mb-30">{{ site.about2.description }}</p>
				<ul class="about-list mb-50">{{ site.about2.list }}</ul>
				<a href="{{ site.about2.work_link }}" class="theme-btn">{{ site.about2.work_text  }}</a>
			</div>
		</div>
	</div>
</div>