<div class="faq-area de-pt">
	<div class="faq-wpr grid-2">
		<div class="faq-left faq-padding-left">
			<div class="site-title">
				<span class="about-sub-title">Questions &amp; Answer</span>
				<h2 data-splitting="" class="about-title mb-0 wow words chars splitting animated"
					data-wow-duration=".1s" data-wow-delay=".4s"
					style="--word-total: 7; --char-total: 35; visibility: visible; animation-duration: 0.1s; animation-delay: 0.4s;">
					<span class="word" data-word="Need" style="--word-index: 0;"><span class="char" data-char="N"
							style="--char-index: 0;">N</span><span class="char" data-char="e"
							style="--char-index: 1;">e</span><span class="char" data-char="e"
							style="--char-index: 2;">e</span><span class="char" data-char="d"
							style="--char-index: 3;">d</span></span><span class="whitespace"> </span><span class="word"
						data-word="anything" style="--word-index: 1;"><span class="char" data-char="a"
							style="--char-index: 4;">a</span><span class="char" data-char="n"
							style="--char-index: 5;">n</span><span class="char" data-char="y"
							style="--char-index: 6;">y</span><span class="char" data-char="t"
							style="--char-index: 7;">t</span><span class="char" data-char="h"
							style="--char-index: 8;">h</span><span class="char" data-char="i"
							style="--char-index: 9;">i</span><span class="char" data-char="n"
							style="--char-index: 10;">n</span><span class="char" data-char="g"
							style="--char-index: 11;">g</span></span><span class="whitespace"> </span><span class="word"
						data-word="to" style="--word-index: 2;"><span class="char" data-char="t"
							style="--char-index: 12;">t</span><span class="char" data-char="o"
							style="--char-index: 13;">o</span></span><span class="whitespace"> </span><span class="word"
						data-word="ask" style="--word-index: 3;"><span class="char" data-char="a"
							style="--char-index: 14;">a</span><span class="char" data-char="s"
							style="--char-index: 15;">s</span><span class="char" data-char="k"
							style="--char-index: 16;">k</span></span><span class="whitespace"> </span><span class="word"
						data-word="check" style="--word-index: 4;"><span class="char" data-char="c"
							style="--char-index: 17;">c</span><span class="char" data-char="h"
							style="--char-index: 18;">h</span><span class="char" data-char="e"
							style="--char-index: 19;">e</span><span class="char" data-char="c"
							style="--char-index: 20;">c</span><span class="char" data-char="k"
							style="--char-index: 21;">k</span></span><br> <span class="word" data-word="Asked"
						style="--word-index: 5;"><span class="char" data-char="A"
							style="--char-index: 22;">A</span><span class="char" data-char="s"
							style="--char-index: 23;">s</span><span class="char" data-char="k"
							style="--char-index: 24;">k</span><span class="char" data-char="e"
							style="--char-index: 25;">e</span><span class="char" data-char="d"
							style="--char-index: 26;">d</span></span><span class="whitespace"> </span><span class="word"
						data-word="Question" style="--word-index: 6;"><span class="char" data-char="Q"
							style="--char-index: 27;">Q</span><span class="char" data-char="u"
							style="--char-index: 28;">u</span><span class="char" data-char="e"
							style="--char-index: 29;">e</span><span class="char" data-char="s"
							style="--char-index: 30;">s</span><span class="char" data-char="t"
							style="--char-index: 31;">t</span><span class="char" data-char="i"
							style="--char-index: 32;">i</span><span class="char" data-char="o"
							style="--char-index: 33;">o</span><span class="char" data-char="n"
							style="--char-index: 34;">n</span></span></h2>
			</div>
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							1. Think ahead &amp; boost your business?
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="mb-0">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusitempor is
								exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							2. How our experts consulter work?
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="mb-0">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusitempor is
								exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							3. What is the best tips for growth your business?
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="mb-0">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusitempor is
								exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading4">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
							4. How to improved your business?
						</button>
					</h2>
					<div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="mb-0">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusitempor is
								exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading5">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse4">
							5. How to improved your business?
						</button>
					</h2>
					<div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="mb-0">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusitempor is
								exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="faq-right">
			<div class="faq-pic wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"
				style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
				<img src="/assets/img/faq/fag-bg.png" alt="thumb">
			</div>
		</div>
	</div>
</div>