<div class="feature-area">
	<div class="container">
		<div class="feature-wpr grid-4">
			{%- for features in site.features -%}

			<div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
				<div class="feature-icon">
					<img src="{{ features.image | relative_url }}" alt="thumb">
				</div>
				<div class="feature-info">
					<h5>{{ features.type }}</h5>
					<p class="mb-0">{{ features.description }}</p>
				</div>
			</div>

			{%- endfor -%}

		</div>
	</div>
</div>