<!-- Start Feature
		============================================= -->
<div class="feature-areag de-pt">
    <div class="container">
        <div class="feature-wpr feature-2 grid-2">
            <div class="feature-left">
                <span class="about-sub-title">Agency Features</span>
                <h2 data-splitting class="about-title mb-50 wow" data-wow-duration=".1s" data-wow-delay=".4s">
                    Consulting firm focused <br /> clients happiness.
                </h2>
                <p class="mb-50">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, seieiu elitesi tempor is exercitation
                    ullamco laboris. Lorem ipsum dolor seat ameat dui too consecteture elite.
                </p>
                <a href="#" class="theme-btn">
                    Get Started <i class="icofont-long-arrow-right"></i>
                </a>
            </div>
            <div class="feature-right grid-2">
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="feature-icon">
                        <img src="/assets/img/icons/man.png" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5>Great Team</h5>
                        <p class="mb-0">
                            According to lorem ipsum dolor sit consecteture elite.
                        </p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="feature-icon">
                        <img src="/assets/img/icons/checked.png" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5>Trusted Agency</h5>
                        <p class="mb-0">
                            According to lorem ipsum dolor sit consecteture elite.
                        </p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="feature-icon">
                        <img src="/assets/img/icons/rating.png" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5>Top Rated Agency</h5>
                        <p class="mb-0">
                            According to lorem ipsum dolor sit consecteture elite.
                        </p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="feature-icon">
                        <img src="/assets/img/icons/consult.png" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5>Support Alltime</h5>
                        <p class="mb-0">
                            According to lorem ipsum dolor sit consecteture elite.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature -->