<div class="promo de-padding" style="background-image: url(assets/img/bg/bg-2.png)">
	<div class="container">
		<div class="promo-wpr">
			<div class="row align-items-center justify-content-between">
				<div class="col-xl-7">
					<div class="promo-left">
						<span class="about-sub-title">{{ site.promo.subtitle }}</span>
						<h2 data-splitting class="about-title mb-0 wow" data-wow-duration=".1s" data-wow-delay=".4s">{{
							site.promo.title }}</h2>
					</div>
				</div>
				<div class="col-xl-5">
					<div class="promo-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
						<a href="{{ site.promo.contact_link }}" class="theme-btn">{{ site.promo.contact_text  }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>