<footer class="footer-2">
	<div class="footer-widget">
		<div class="container">
			<div class="footer-widget-wrapper de-padding">
				<div class="row g-5">
					<div class="col-xl-4 col-sm-6 col-lg-6">
						<div class="footer-widget-box ab-us">
							<div>
								<img src="{{ site.footer2.logo | relative_url }}" alt="thumb">
							</div>
							<p class="mb-50">{{ site.footer2.description }}</p>
							<form class="sub-form">
								<input type="text" placeholder="Your Email" class="input-style-1 input-style-2">
								<button type="submit" class="sub-btn btn-3 btn-5">Subscribe</button>
							</form>
						</div>
					</div>
					<div class="col-xl-2 col-sm-6 col-lg-6">
						<div class="footer-widget-box">
							<h4 class="footer-widget-title">{{ site.footer2.quicklink }}</h4>
							<ul class="footer-list">
								<li><a href="#">Tips &amp; Tricks</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Privecy Policy</a></li>
								<li><a href="#">Terms &amp; Condition</a></li>
								<li><a href="#">Portfolio</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-lg-6">
						<div class="footer-widget-box">
							<h4 class="footer-widget-title">{{ site.footer2.helpfulLink }}</h4>
							<ul class="adr">{{ site.footer2.address }}</ul>
							<ul class="footer-social">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-lg-6">
						<div class="footer-widget-box">
							<h4 class="footer-widget-title">{{ site.footer2.helpfulLink }}</h4>
							<ul class="adr">{{ site.footer2.address }}</ul>
							<ul class="footer-social">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright text-center">
				<p class="mb-0">{{ site.footer2.copyright }}</p>
			</div>
		</div>
	</div>
</footer>
