	<script src="{{ 'assets/js/jquery-3.6.0.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/popper.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/jquery.appear.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/jquery.easing.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/progress-bar.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/modernizr.custom.13711.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/owl.carousel.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/wow.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/isotope.pkgd.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/count-to.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/swiper-bundle.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/text.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/YTPlayer.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/slick.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/bsnav.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/splitting.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/splitting-animation.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/jquery.ajaxchimp.min.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
	{%- include google_analytics.html -%}
	{%- include disqus_comments.html -%}
	
