<div id="home" class="hero-section">
	<div class="hero-sliderr">
		<!-- owl Slider Begin -->
		<div class="hero-single" style="background-image: url({{'assets/img/header/hdr-1.png' |realative_url}})">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div class="hero-content text-center">
							<span class="top-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">{{
								site.hero1.intro }}</span>
							<h2 data-splitting class="home-title wow" data-wow-duration=".1s" data-wow-delay=".2s">{{
								site.hero1.title }}</h2>
							<p>{{ site.hero1.subtitle }}</p>
							<div class="hro-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
								<a href="{{ site.hero1.service_link }}" class="theme-btn">
									{{ site.hero1.service_text }}
								</a>
								<div class="how-we-work">
									<a href="{{ site.hero1.video_link }}" class="item popup-youtube">
										{{ site.hero1.video_text }}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single Slider End -->
	</div>
</div>
