<div id="home" class="hero-section">
	<div class="hero-sliderr">
		<!-- owl Slider Begin -->
		<div class="hero-single home-2" style="background-image: url('{{'/assets/img/header/header-2.png' | relative_url }}')">
			<div class="container">
				<div class="row">
					<div class="col-xl-6">
						<div class="hero-content">
							<span class="top-title">{{ site.hero2.intro }}</span>
							<h2 data-splitting class="site-title-header wow" data-wow-duration=".1s"
								data-wow-delay=".4s">{{ site.hero2.intro }}</h2>
							<p>{{ site.hero2.subtitle }}</p>
							<div class="hro-btn">
								<a href="{{ site.hero2.service_link }}" class="theme-btn wow fadeInUp"
									data-wow-duration="1s" data-wow-delay=".2s">{{ site.hero2.service_text }}</a>
								<div class="how-we-work wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
									<a href="{{ site.hero2.video_link }}" class="item popup-youtube">{{
										site.hero2.video_text }}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="hero-right-pic">
							<img src="{{ site.hero2.right_img | relative_url }}" alt="thumb" class="bounce-animate">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single Slider End -->
	</div>
</div>